<form class="form">
    <label class="lbl-nombre" id="id">
        <span class="text-nombre">
            Id pokemon
        </span>
    </label>
    <input type="text" id="id" required>
    <label class="lbl-nombre" id="nombre">
        <span class="text-nombre">
            Nombre del pokemon
        </span>
    </label>
    <input type="text" id="nombre" required>
    <label class="lbl-nombre">
        <span class="text-nombre">
            Altura del pokemon
        </span>
    </label>
    <input type="text" required>
    <label class="lbl-nombre">
        <span class="text-nombre">
            Peso del pokemon
        </span>
    </label>
    <input type="text" required>
    <label class="lbl-nombre">
        <span class="text-nombre">
            Imagen del pokemon
        </span>
    </label>
    <input type="text" required>
    <input type="button" value="Enviar" class="boton">
</form>
