footer{
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    background-color: black;
}
button{
    background-color: rgba(54, 139, 179, 0.979);
    margin-left: 20px;
}